/* Styles for buttomgame.html */

html {
    font-family: Poppins ;
    height: 100%;
}

body {
    background-color: whitesmoke;
}



.title-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Make the title screen div stretch the whole page */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}


/* 
HEADER ELEMENTS
-header-div
-option1,
-option2
*/
.header-div {
    background-color: whitesmoke(7, 114, 207);
    top: 0;
    position: fixed;
    height: 50px;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    border-bottom: 1px solid rgb(204, 204, 204);
}


.settings,
.leaderboards {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 2;

}

.settings {
}

.leaderboards {
}

.login-div {
    display: flex;
    flex: 0.3;
    flex-direction: row;
    justify-content: center;
    border-left: 1px solid rgb(204, 204, 204);

}

.settings-button,
.leaderboards-button,
.login-button {
    
    border: none;
    background-color: whitesmoke;
    font-size: 30px;
    cursor: pointer;

}

.settings-button:hover,
.leaderboards-button:hover,
.login-button:hover {
    color: grey;
}

.settings-button:active,
.leaderboards-button:active,
.login-button:active {
    color: #FF4742;
}
/*
TITLE ELEMENTS
-title-div
*/
.title-div {
    display: flex;
    top: 25%;
    position: fixed;
    left: 0;
    right: 0;
    justify-content: center;
    font-size: 75px;
}


/*
START BUTTON ELEMENTS
-start-button-div
-start-button (button)
*/
.start-button-div {
    flex-direction: row;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.start-button {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    height: 80px;
    width: 80px;
    
}

.start-button:hover,
.start-button:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.start-button:active {
    opacity: .5;
  }

/*
RESULT ELEMENTS
-times-div
*/
.times-div {
    position: fixed;
    top: 75%;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 25px;
    
}

.previous-time-div,
.best-time-div, 
.missed-clicks-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
}

/*  
Game Screen related styles
*/
.game-screen {
    display: none;
}

.game-button {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    height: 80px;
    width: 80px;
    left: -300000px;
    position: absolute;
}

.game-button:hover {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.timer-container {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    
    align-items: center;
    justify-content: center;
    position: fixed;
}

.timer-display {
    color: grey;
    font-size: 200px;
    opacity: 0.1;
}

